.navbar ul
{
    background-color: rgb(3, 3, 149);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    list-style: none;
}
.navbar li a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.navbar li a:hover
{
    color: rgb(34, 159, 236);
    text-decoration:solid
}
.product
{
    background-color: rgb(18, 233, 244);
    padding: 10px;
    width: 340px;
}
.product h4
{
    font-size: 20px;
}
.products
{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.product button
{
  padding: 8px;
  border-radius: 10px;
  background-color: blue;
 
}
.product button a{
text-decoration: none;
 color:white;
}
.user
{
    background-color: rgb(173, 244, 101);
    padding: 10px;
    width: 340px;
}
.user h4
{
    font-size: 20px;
}
.users
{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.user button
{
  padding: 8px;
  border-radius: 10px;
  background-color: blue;
 
}
.user button a{
text-decoration: none;
 color:white;
}